* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

.container {
  width: 70%;
  height: 90vh;
  background-color: rgb(140, 177, 214);
  margin: auto;
}
.Topic {
  text-align: center;
  padding-top: 30px;
}

.content {
  padding: 20px;
  font-size: 18px;
}
